html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Press Start 2P'
}

#logo {
  height: 40px;
  width: 40;
  padding-top: 5px;
  float:left;
  border-radius: 8px;
}

/*------
Nav Bar
------*/

nav {
  width: 100%;
  height: 50px;
  background-color: #523501;
  padding-top: 10px;
}

nav:nth-child(1) {
  padding-left: 25px;
}

.navlink {
  padding: 5px;
  color: white;
  font-size: 1.3em;
  float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
  color: white;
  text-decoration: none;
  padding: 5px;
  background-color: #523501;
  transition: background-color 0.4s ease;
}

.navlink a:hover {
  transition: background-color 0.8s ease;
  background-color: #835500;
}




/*-------------
 Make Char Form
 -------------*/

#makeChar {
  position: absolute;
}

.charForm {
  width: 400px;
  display: inline-block;
  text-align: center;
  background-color: aquamarine;
}

.charForm input {
  width: 50px;
}

.charStat {
  padding: 10px 0;
}

.charForm label {
  padding-right: 10px;
}

.charForm a {
  margin-bottom: 10px;

}

#charName {
  width: 78%;
}

.col1-2{
  width: 50%;
  margin-right: 0;
  margin-left: 0;
}
.Left {
  float: left;
}
.Right {
  float: right;
}

/*.domoForm {
  border: 2px solid #338acc;
  height: 35px;
  width: 700px;
  margin-top:0px;
  padding-top:10px;
  background-color: #55acee;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.domoForm label {
  display: inline-block;
  width: 75px;
  margin-left: 10px;
  font-size: 1.2em;
  float: left;
  color: white;
}

.domoForm input[type=text] {
  float:left;
}

.makeDomoSubmit {
  transition: background-color 0.4s ease;
  display: inline;
  margin-top: 14px;
  font-size: 1.2em;
  width: 90px;
  background-color: #55acee;
  border-radius: 2px;
  padding: 3px 0px;
  color: black;
  text-decoration: none;
  margin-left: 45px;
  padding: 5px;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
  color: white;
}

.makeDomoSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #338acc;
}*/

/*------------------
Login/Signup Fields
------------------*/

.mainForm {
  height: 300px;
  width: 350px;
  margin: 0 auto;
  padding-top: 350px;
  font-size: 1em;
}

.mainForm h3 {
  text-align: center;
}

.mainForm label {
  display: inline-block;
  width: 160px;
  margin-right: 10px;
  text-align: right;
  font-size: 1.2em;
}

.formSubmit {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  width: 130px;
  background-color: #835500;
  padding: 3px 0px;
  color: black;
  text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
  color: white;
}

.formSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #523501;
}

.altFormSubmit {
  transition: color 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  font-size: .5em;
  color: #a3a3a3;
  text-decoration: none;
}

.altFormSubmit:hover {
  transition: color 0.4s ease;
  color: black;
}

/*----
Other
----*/

#user, #pass, #pass2 {
  text-align: center;
  font-size: 1.1em;
  width: 180px;
  border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #55acee;
}

#speech {
  height: 120px;
  width: 250px;
  z-index:300;
}

#errorMessage {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
  font-style: italic;
}

#char {
  z-index: 225;
  margin-top: -20px;
  margin-left: 135px;
  height: 450px;
  width: 300px;
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg); 
  transform: rotate(330deg);
}

#chars {
  width: 40%;
  min-width: 400px;
  border: 2px solid #55acee;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 100px;
}

.char {
  width: 95%;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 2px solid #55acee;
  border-radius: 4px;
  background-color: #55acee;
  padding: 10px;
  min-height:60px;
  overflow: hidden;
}

.char:hover {
  transition: border-color 0.2s ease-out;
  border-color: rgba(255,255,255, 0.8);
  transition: background-color 2.6s ease-out;
  background-color: #66bfff;
}

img.domoFace {
  margin-left: 25px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  margin-top:10px;
  float:left;
}

.emptyChar {
  width: 500px;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  margin-top: 18px;
}

h3.charName {
  float:left;
  width: 200px;
  font-weight: bold;
  padding-left: 65px;
  font-size: 1.5em;
}

.char:first-child {
  margin-top: 10px;
}

.char:last-child {
  margin-bottom:10px;
}